<p id="notice"><%= notice %></p>

<h1>Cities by Name</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
   
      <th colspan="1"></th>
    </tr>
  </thead>

<tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= link_to 'Show', search_path(term: city.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @posts %>
