<p>This example of historical cities can be found on  <%= link_to 'GitHub', 'https://github.com/scharlau/historical_cities'%> </p>
<%= link_to 'Home', cities_path() %> |
<%= link_to 'Countries', controller: "cities", action: "countries" %> |
<%= link_to 'Cities', cities_path() %>
